# 00_파이썬기초 복습

### 1) range()를 사용하여, 1~100의 수 중, 7의 배수를 리스트 a에 담으시오.

In [25]:
a = range(7,101,7)
print(list(a))

# a = list(range(7,101,7))
# a

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

### 2) a에서 인덱스 4~7까지 조회하시오.

In [6]:
b = a[4:8]
print(list(b))

[35, 42, 49, 56]

### 3) a의 끝에서 세번째 값을 조회하시오.

In [12]:
c = a[len(a)-3]
print(c)

#a[-3]

84

### 4) a에 데이터 갯수(길이)를 구하시오.

In [5]:
len(a)

14

### 5) a 값들의 합과 평균을 구하시오.

In [29]:
sum(a)
mean = sum(a)/len(a)
print('a의 합 : ',sum(a))
print('a의 평균 : ',mean)

a의 합 :  735
a의 평균 :  52.5

### 6) [심화] 반복문을 이용하여 100이하의 소수(prime number)를 리스트에 담아봅시다.
* 소수(prime number) : 1과 자기자신으로만 나누어 지는 수

In [44]:
list_pn = []

for n in range(2,100+1):
    check = True
    for i in range(2, int(n**0.5)+1):
        if n%i == 0:
            check = False
    if check:
        list_pn.append(n)

print(list_pn)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [51]:
prime_number=[]
for i in range(2,101):
    devide = 0 # i%j == 0 이 될때마다 devide 증가, 값이 2 이면 1과 자기자신만을 인수로 가지는 소수
    for j in range(1,i+1):
        if i % j == 0: # 2%1 and 2%2 ==0 
            devide += 1
    if devide ==2: # divide 값이 2가 아니면 제일 위에 for 문으로 돌아가서 진행 
        prime_number.append(i)

print(prime_number)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [52]:
import math

prime_number=[]
for i in range(2,101):
    devide =0
    for j in range(2, int(math.sqrt(i))+ 1):
        if i%j ==0:
            devide +=1
    if devide ==0:
        prime_number.append(i)
            
print(prime_number)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

### 7) [심화] 6번의 코드를 참조하여, 소수 추출기 함수를 만들어봅시다.
* 입력변수 : 정수 n
* 처리 : n 이하의 소수를 리스트에 저장
* 출력변수 : 소수 리스트
* [주의] 입력변수 n은 2이상의 정수여야 함.(입력값 체크 부분 포함)

In [32]:
z = int(input())
li=[]
for n in range(2,z+1):
    check = True
    for i in range(2, int(n**0.5)+1):
        if n%i == 0:
            check = False
    if check:
        li.append(n)

print(li)

[2, 3, 5]

In [53]:
def prime1(n):
    prime_number=[]
    for i in range(2,n+1):
        devide = 0 
        for j in range(1,i+1):
            if i % j == 0: # 2%1 and 2%2 ==0 
                devide += 1
        if devide ==2:
            prime_number.append(i)

    return prime_number

prime1(100)

[2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97]

In [54]:
import math

def prime2(n):
    prime_number=[]
    for i in range(2,n+1):
        devide =0
        for j in range(2, int(math.sqrt(i))+ 1):
            if i % j == 0:
                devide += 1
        if devide == 0:
                prime_number.append(i)
                
    return prime_number

    print(prime_number)
    
prime2(100)

[2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97]

### 속도비교

In [55]:
import time
start = time.time()
prime1(10000)
print("Prime1's time : ", time.time()-start)

start = time.time()
prime2(10000)
print("Prime2's time : ", time.time()-start)

Prime1's time :  2.6885721683502197
Prime2's time :  0.0335690975189209

### 8) 아래 값으로 딕셔너리 d를 생성해봅시다.

|key | value|
|----|----|
|v1 | [1,2,3]|
|v2 | {'a':23, 'b':[4,5]}|

In [70]:
d = {'v1' :[1,2,3], 'v2' : {'a':23, 'b' : [4,5]}}
d

{'v1': [1, 2, 3], 'v2': {'a': 23, 'b': [4, 5]}}

### 9) d에서 [1,2,3]을 출력해봅시다.

In [58]:
d['v1']

[1, 2, 3]

### 10) d에서 23을 출력해봅시다.

In [66]:
d['v2']['a']

23

### 11) d에서 5를 출력해봅시다.

In [71]:
d['v2']['b'][1]

5

### 12) d에 'newKey', value(1,2)를 추가하고 출력해봅시다.

In [68]:
d['newKey'] =(1,2)
d

{'v1': [1, 2, 3], 'v2': {'a': 23, 'b': [45]}, 'newKey': (1, 2)}

### 13) [심화] 반복문과 딕셔너리를 사용하여 주어진 단어에서 가장 많이 사용된 알파벳을 출력해봅시다.
* 주어진 단어 : "Big Data Analysis"
* 대문자, 소문자는 구분하지 않습니다.
* 가장 많이 사용된 알파벳을 2개 이상일 경우, 전부 출력해줍니다.

In [101]:
S.lower().split(' ')
''.join(S.lower().split(' '))

'bigdataanalysis'

In [93]:
S = 'Big Data Analysis'
#띄어쓰기 없애기
S.lower().split(' ')
''.join(S.lower().split(' '))
#S.lower() # upper() 문자열에 사용 
alphabet={}
for i in S :
    if i not in alphabet: # big data analyis 순으로 들어간다 
        alphabet[i]=1
    else :
        alphabet[i]+=1
        
print(alphabet)

alpha_list=[]
for k,v in alphabet.items():
    if v == max(alphabet.values()):
        alpha_list.append(k)
        
print(alpha_list)

{'B': 1, 'i': 2, 'g': 1, ' ': 2, 'D': 1, 'a': 3, 't': 1, 'A': 1, 'n': 1, 'l': 1, 'y': 1, 's': 2}
['a']

In [96]:
alphabet.items()

dict_items([('B', 1), ('i', 2), ('g', 1), (' ', 2), ('D', 1), ('a', 3), ('t', 1), ('A', 1), ('n', 1), ('l', 1), ('y', 1), ('s', 2)])

In [85]:
alphabet.values()

dict_values([1, 2, 1, 2, 1, 3, 1, 1, 1, 1, 1, 2])