# 책대여점 on JupyterNotebook

만약  cx_oracle 모듈이 없으면 콘솔에서 설치할 것
``` shell
> pip install cx_oracle
```

In [13]:
# cx_Oracle 모듈 첨부 
import cx_Oracle as ora

### DB 연결함수
사용법
``` python
myconn()
```

In [14]:
def myconn():
    dsn = ora.makedsn('localhost', 1521, service_name ='orcl')
    conn = ora.connect(user ='scott', password = 'tiger', dsn=dsn, encoding='utf-8')
    return conn

### Divtbl 전체조회 함수
사용법
``` python
getAllDateFromDivtbl(conn) ## conn은 연결객체
```

In [15]:
def getAllDateFromDivtbl(conn) ->None:
    cur = conn.cursor()
    query = 'SELECT division, names FROM divtbl'
    
    for row in cur.execute(query):
        print(row)

    cur.close()

In [16]:
# DB 연결 실행
conn = myconn()
print('접속')

getAllDateFromDivtbl(conn)

접속
('I002', '자기계발')
('B001', '공포/스릴러')
('B002', '로맨스')
('B003', '무협')
('B004', '전쟁/역사')
('B005', '추리')
('B006', 'SF/판타지')
('I001', '프로그래밍')
('I003', '에세이')
('I004', '재테크')
('I005', '어린이')

### 신규장르 입력 
사용법
```python
tup =(division, names)
setDataIntoDivtbl(conn,tup)
```

In [ ]:
def setDataIntoDivtbl(conn, tup):
    cur = conn.cursor()
    query = 'INSERT INTO divtbl VALUES (:1, :2)'
    cur.execute(query,tup)
    conn.commit()
    cur.close()

division, names = input('장르코드, 장르명 입력(구분자,)').split(',')
tup=(division.strip(), names.strip())
setDataIntoDivtbl(conn, tup)
print('장르 추가 성공')
getAllDateFromDivtbl(conn)

In [19]:
def getAllDateFromBookstbl(conn) -> None:
    cur = conn.cursor()
    query = 'SELECT idx, author, division, names, ' \
            '   TO_CHAR(releasedate, \'YYYY-MM_DD\') ' \
            ' FROM bookstbl ' \
            ' ORDER BY idx ASC '    
    
    for row in cur.execute(query):
        print(row)

    cur.close()

In [20]:
getAllDateFromBookstbl(conn) # 실행

(1, '넬레 노이하우스', 'B001', '잔혹한 어머니의 날 1', '2019-10_07')
(2, '넬레 노이하우스', 'B001', '잔혹한 어머니의 날 2', '2019-10_07')
(3, '매뉴 라인하트', 'B006', '월드 오브 워크래프트 팝업북', '2019-10_21')
(4, '묵향동후', 'B003', '마도조사 2', '2019-09_03')
(5, '오코제키 다이', 'B005', '루팡의 딸', '2019-09_25')
(6, '조엘 디케르', 'B001', '스테파니 메일러 실종사건', '2019-08_12')
(7, '이지환', 'B002', '닥터 퀸 1-2세트', '2019-09_20')
(8, '김수지', 'B002', '희란국 연가', '2019-11_01')
(9, '알파타르트', 'B002', '재혼 황후 1', '2019-10_18')
(10, '안나 토드', 'B002', '애프터 7', '2019-08_30')
(11, '안타 토드', 'B002', '애프터 8', '2019-08_30')
(12, '남혜인', 'B002', '아도니스 11', '2019-08_26')
(13, '안드레아스 빙겔만', 'B001', '쉐어하우스', '2019-09_27')
(14, '비프케 로렌츠', 'B001', '너도 곧 쉬게 될 거야', '2019-09_18')
(15, '전건우', 'B001', '어위크', '2019-09_02')
(16, '토머스 해리스', 'B005', '카리 모라', '2019-09_11')
(17, '토머스 해리스', 'B005', '한니발', '2019-09_11')
(18, '정준', 'B003', '화산전생 17', '2019-08_23')
(19, '묵향동후', 'B003', '마도조사 1', '2019-07_30')
(20, '용대운', 'B003', '군림천사 35', '2019-07_26')
(21, '정준', 'B003', '화산전생 15', '2019-04_30')
(22, '김석진', 'B003', '삼류무사 2부16', '2019-04_02')
(23, '히가시노 게이고', 'B006', '기도의 막이 내릴 때', '2019-08_06')
(24, '히가시노 게이고', 'B006', '악의', '2019-07_25')
(25, '서철원', 'B004', '최후의 만찬', '2019-09_25')
(26, '마이 셰발, 페르 발뢰', 'B004', '어느 끔찍한 남자', '2019-09_20')
(27, '마이 셰발, 페르 발뢰', 'B004', '폴리스, 폴리스, 포타티스모스!', '2019-09_20')
(28, '김진명', 'B004', '살수 1', '2019-09_16')
(29, '김진명', 'B004', '살수 2', '2019-09_16')
(30, '손정미', 'B004', '도공 서란', '2019-09_16')
(31, '요안나', 'B002', '순수하지 않은 감각', '2019-10_02')
(32, '노승아', 'B002', '오늘부터 천생연분 1', '2019-09_18')
(33, '노승아', 'B002', '오늘부터 천생연분 2', '2019-09_18')
(34, '김이랑', 'B002', '조선혼담공작소 꽃파당', '2019-09_06')
(35, '전민석', 'B004', '감치', '2019-08_15')
(36, '나관중', 'B004', '삼국지 세트', '2019-07_25')
(37, '에리크 뷔야르', 'B004', '그날의 비밀', '2019-07_20')
(38, '요 네스뵈', 'B004', '폴리스', '2019-07_08')
(39, 'T. M. 로건', 'B005', '29초', '2019-09_18')
(40, '토머스 해리스', 'B005', '양들의 침묵', '2019-09_11')
(41, '송시우', 'B005', '대나무가 우는 섬', '2019-09_06')
(42, 'A. J. 핀', 'B005', '우먼 인 윈도', '2019-09_03')
(43, '이정명', 'B005', '밤의 양들 1', '2019-08_30')
(44, '이정명', 'B005', '밤의 양들 2', '2019-08_30')
(45, '정해연', 'B005', '내가 죽였다', '2019-08_21')
(46, '정준', 'B003', '화산전생 16', '2019-07_19')
(47, '무공진', 'B003', '화중매 상하 세트', '2019-07_15')
(48, '촌부', 'B003', '천애협로 10', '2019-06_03')
(49, '손선영', 'B003', '소암, 바람의 노래', '2019-05_17')
(50, '전민희', 'B006', '룬의 아이들 블러디드 2', '2019-09_25')
(51, '요나스 요나손', 'B006', '핵을 들고 도망친 101세 노인', '2019-09_25')
(52, '닐 셔스터먼, 재러드 셔스터먼', 'B006', '드라이', '2019-09_20')
(53, '스테파니 버지스', 'B006', '초콜릿 하트 드래곤', '2019-09_04')
(54, '브누아 필리퐁', 'B001', '루거 총을 든 할머니', '2019-07_30')
(55, '캐서린 스테드먼', 'B001', '썸씽 인 더 워터', '2019-07_24')
(56, '에이미 몰로이', 'B001', '퍼펙트 마더', '2019-07_22')
(57, '지건, 콕콕', 'B001', '잔혹동화', '2019-07_20')
(58, '류츠신', 'B006', '삼체 3', '2019-09_25')
(59, '히가시노 게이고', 'B006', '방과 후', '2019-07_10')

In [21]:
def getDateFromBookstbl(conn) -> None:
    names = input('검색할 책이름을 입력하세요.')

    cur = conn.cursor()
    query = f'SELECT idx, author, division, names, ' \
            '   TO_CHAR(releasedate, \'YYYY-MM_DD\') ' \
            ' FROM bookstbl ' \
            f' WHERE names LIKE \'%{names}%\' ' \
            ' ORDER BY idx ASC ' # f 중요     
    
    for row in cur.execute(query):
        print(row)

    cur.close()

In [22]:
getDateFromBookstbl(conn)

(10, '안나 토드', 'B002', '애프터 7', '2019-08_30')
(11, '안타 토드', 'B002', '애프터 8', '2019-08_30')

### 삭제함수
사용법
```python
delDataFromDivtbl(conn):
```

In [27]:
def delDataFromDivtbl(conn):
    division = input('삭제할 코드명 입력(예 : I004)')
    cur = conn.cursor()
    query = 'DELETE FROM divtbl WHERE division = :1'
    tup =(division, ) # tuple 하나짜리는 왼쪽처럼 만들어야 한다 조심!!! 
    cur.execute(query,tup)
    conn.commit()
    print('삭제 성공')
    cur.close()

In [28]:
delDataFromDivtbl(conn)

삭제 성공

In [29]:
getAllDateFromDivtbl(conn)

('I002', '자기계발')
('B001', '공포/스릴러')
('B002', '로맨스')
('B003', '무협')
('B004', '전쟁/역사')
('B005', '추리')
('B006', 'SF/판타지')
('I001', '프로그래밍')
('I003', '에세이')
('I004', '재테크')